{% set pod = manage_container__quadlet_config_pod %}
[Pod]
{% for parameter,argument in pod.items() %}
{% if argument is iterable and (argument is not string and argument is not mapping) %}
{% for item in argument %}
{{ parameter }}={{ item }}
{% endfor %}
{% else %}
{{ parameter }}={{ argument }}
{% endif %}
{% endfor %}
