{% set quadlets = manage_containers__quadlet_config | dict2items %}
{% for quadlet in quadlets %}
{% for stanzas,params in quadlet.value.volumes.items() -%}
[Volume]
{% for parameter,argument in params.items() -%}
{{ parameter }}={{ argument }}
{% endfor -%}
{% endfor -%}
{% endfor -%}
