{% set container = manage_container__quadlet_config_container %}
{% for stanzas,params in container.items() +%}
[{{ stanzas }}]
{% for parameter,argument in params.items() %}
{% if argument is iterable and (argument is not string and argument is not mapping) %}
{% for item in argument %}
{{ parameter }}={{ item }}
{% endfor %}
{% else %}
{{ parameter }}={{ argument }}
{% endif %}
{% endfor %}
{% endfor %}
